<h1>Burger Time</h1>

<h2>Request a new Burger to Eat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Name it:</label>
    <input type="text" id="burg" name="burger_name">
  </div>

  <button type="submit">Add Item</button>
</form>

<h4>Burgers, fresh out of the oven!</h4>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{!-- {{> cats/cat-block sleep=false}} --}}
      {{!-- {{> burgers/burger-block devoured=false}} --}}
      {{> burgers/burger-block}}
    {{/unless}}
  {{/each}}
</ul>

<h4>Burgers Eaten</h4>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block}}
    {{/if}}
  {{/each}}
</ul>