<!--
Partial HTML display elements for all text headers, rows, columns etc that are not part of the burger object.
-->

<h1>Burger Time</h1>

<p>
  <img src="assets/img/burgers.PNG" alt="Burgers!">
</p>

<form class="create-form">

  <div class="form-group">
    <label for="burg">Want a Burger?</label>
    <br>
    <input type="text" id="burg" name="burger_name" placeholder="Enter your favorite here!">
  </div>
  <div>
    <button type="submit">Add Item</button>
  </div>
</form>
<p>



<div class="row">
  <div class="column">
    <h4>À la carte:</h4>
  </div>
  <div class="column">
    <h4>Burgers Destroyed:</h4>
  </div>
</div>
<div class="row">
  <div class="column">
        <ul>
          <!--Loops through Burgers (that are not devoured) and renders them-->
          {{#each burgers}}
            {{#unless devoured}}
              {{> burgers/burger-block}}
            {{/unless}}
          {{/each}}
    </ul>
  </div>
  <div class="column">
    <ul>
      <!--Loops through Burgers (that are devoured) and renders them-->
      {{#each burgers}}
        {{#if devoured}}
          {{> burgers/burger-block}}
        {{/if}}
      {{/each}}
</ul>
  </div>
</div>




</div>


