li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

img {
  width: 100%;
  height: auto;
  margin: auto;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

h1{
  margin: auto;
  width: 50%
}

h2{
  margin: auto;
  width: 50%
}

h4 {
  text-decoration: underline;
  text-align: center;
}

body {
  background-color: rgb(245, 214, 157);
  margin: auto;
  width: 50%;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  display: table;
  clear: both;
}